<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570888501526-gcpcjggbk0dtk0377akfvpsp2tmetcru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570888501526-gcpcjggbk0dtk0377akfvpsp2tmetcru</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>570888501526-rvfuthalduqm06p5chsm9jmcmfg4a2hp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUHoAY15OIv_uR6E_UbSMhb9PzYbxwiZk</string>
	<key>GCM_SENDER_ID</key>
	<string>570888501526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationAdminPanel</string>
	<key>PROJECT_ID</key>
	<string>fir-example-5cc62</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-5cc62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570888501526:ios:7ca69ca431a5848fa7b837</string>
	<key>DATABASE_URL</key>
	<string>https://fir-example-5cc62-default-rtdb.firebaseio.com</string>
</dict>
</plist>